.profile__edit-button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: opacity ease-in-out .2s;
  -o-transition: opacity ease-in-out .2s;
  transition: opacity ease-in-out .2s;
  position: relative;
  align-self: center;
  background: url(../../../images/edit-button.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.profile__edit-button:hover {
  opacity: .6;
}


@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
