.popup__input {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  border: none;
  border-bottom: 1px solid #00000033;
  width: 100%;
  padding: 10px 5px;
}

.popup__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #C4C4C4;
}
