.profile__add-button {
  outline: none;
  background: none;
  padding: 21px 72px;
  -webkit-transition: opacity ease-in-out .2s;
  -o-transition: opacity ease-in-out .2s;
  transition: opacity ease-in-out .2s;
  border: 2px solid #ffffff;
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
  margin-left: auto;
  display: block;
  background: url(../../../images/add-icon.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 100%;
    padding: 22px;
    background-size: 16px;
  }
}
