.place__like-button {
  border: none;
  outline: none;
  padding: 0;
  -webkit-transition: opacity ease-in-out .2s;
  -o-transition: opacity ease-in-out .2s;
  transition: opacity ease-in-out .2s;
  overflow: hidden;
  cursor: pointer;
  display: block;
  width: 22px;
  min-width: 22px;
  height: 19px;
  position: relative;
  background: url(../../../images/like-button-disabled.svg);
  background-repeat: no-repeat;
  background-size: 22px 19px;
}

.place__like-button:hover {
  opacity: .5;
}
