.popup__save-button {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  padding: 14px 14px 18px;
  background: #000000;
  border-radius: 2px;
  -webkit-transition: opacity ease-in-out .2s;
  -o-transition: opacity ease-in-out .2s;
  transition: opacity ease-in-out .2s;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #000000;
  outline: none;
  min-width: 358px;
  box-sizing: border-box;
}

.popup__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .popup__save-button {
    font-size: 14px;
    padding: 14px;
    min-width: unset;
  }
}
